* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  flex-wrap: wrap !important;
  gap: 1rem !important;
  justify-content: center;
}
.card {
  width: 18rem;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s ease;
}
.card.show {
  transform: translateX(0%);
  opacity: 1;
}
